<div class="container-fluid" style="margin-top: 70px;">
  <div class="row">
    <div class="col-sm-4 offset-sm-2">
         <input type="file" #fileImportInput name="File Upload" id="txtFileUpload" (change)="fileChangeListener($event)" accept=".csv"/>
    </div>
    <div class="col-sm-4 offset-sm-2">
         <label for="search">Search</label>
         <input type="text" [(ngModel)]="searchText" id="search" placeholder="Type to search..."/>
    </div>
  </div>
  <div class="row" style="margin-top: 30px;">
    <div class="col-sm-8 offset-sm-2">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">S No </th>
            <th scope="col">First Name</th>
            <th scope="col">Sur Name</th>
            <th scope="col">Issue Count</th>
            <th scope="col">Date of Birth</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let csvData of csvRecords;let i = index;">
            <th scope="row">{{i+1}}</th>
            <td>{{csvData.firstName}}</td>
            <td>{{csvData.surName}}</td>
            <td>{{csvData.issueCount}}</td>
            <td>{{csvData.dateOfBirth}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>